body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 90%;
	margin: 0 auto;
	max-width: 800px;
	background: hsl(227, 63%, 18%);
	color: #fff;
	display: flex;
	flex-direction: column;
}

.card-img {
	object-fit: cover;
	flex-basis: 200px; 
	min-width: 0;
	min-height: 0;
}

.card-content {
	padding: 1em;
}

.card-title,
.card-read-time,
.card-btn {
	font-family: 'Blinker', sans-serif;
}

.card-title {
	color: hsl(188, 96%, 47%);
	font-size: 1.75rem;
	margin: 0;
	margin-bottom: .7em;
	text-align: center;
}

.card-body {
	font-size: 1.1rem;
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 400rem;
	margin: 0 auto;
	line-height: 1.6;
	text-align: center;
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 3em;
}

.card-btn {
	font-size: 1.25rem;
	background: linear-gradient(45deg, hsl(0, 100%, 50%), hsl(188, 96%, 47%));
	color: hsla(0, 0%, 90%, .8);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	padding: .35em 1em;
	letter-spacing: 1px;
	border-radius: 3rem;
	transform: scale(1);
	transition: transform 250ms;
}

.card-btn:hover,
.card-btn:focus {
	background: linear-gradient(45deg, hsl(188, 96%, 47%), hsl(0, 100%, 50%));
	color: hsla(0, 0%, 90%, .9);
	/* border: 3px solid hsl(188, 96%, 47%); */
	transform: scale(1.03);
}

.card-btn:active {
	background: linear-gradient(45deg, hsl(0, 100%, 50%), hsl(188, 96%, 47%));
	color: hsla(0, 0%, 90%, .8);
	transform: scale(1);
}

.card-read-time {
	margin: 0;
	opacity: .6;
	line-height: 1;
}

.card-read-time span {
	font-weight: 700;
	display: block;
	font-size: 1.25rem;
}

@media (min-width: 600px) {
	.card {
		flex-direction: row;
	}

	.card-img {
		height: 300px;
	}

	.card-content {
		display: flex;
		flex-direction: column;
	}

	.card-title {
		font-size: 1.95rem;
	}

	.card-body {
		font-size: 1.3rem;
		max-width: 400px;
		margin: auto;
	}

	.card-footer {
		margin-top: auto ;
	}
}